asn1crypto==0.24.0
bash==0.6
beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
cycler==0.10.0
dj-database-url==0.5.0
Django==2.1.3
django-heroku==0.3.1
django-smtp-ssl==1.0
Flask==1.1.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.3
future==0.17.1
gunicorn==19.9.0
h5py==2.10.0
html5lib==1.0.1
idna==2.8
insta-scraper==1.1.7
instagram-private-api==1.6.0.0
instaloader==4.2.9
itsdangerous==1.1.0
Jinja2==2.10.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
liqpay==1.0.1
liqpay-python==1.0
liqpay-python3==1.1.2
lxml==4.4.1
MarkupSafe==1.1.1
matplotlib==3.1.1
nmap==0.0.1
numpy==1.17.4
pafy==0.5.4
playsound==1.2.2
prettytable==0.7.2
psycopg2==2.8.3
pycparser==2.19
pydub==0.23.1
pyparsing==2.4.5
pypi==2.1
PyQt5==5.14.1
PyQt5-sip==12.7.1
PyQtWebEngine==5.14.0
pysql==0.16
pyTelegramBotAPI==3.6.6
python-dateutil==2.8.1
python-telegram-bot==12.1.1
pytz==2018.7
PyYAML==5.1.2
requests==2.7.0
scipy==1.3.2
six==1.12.0
soupsieve==1.9.4
SQLAlchemy==1.3.17
tornado==5.1.1
urllib3==1.24.1
webencodings==0.5.1
Werkzeug==0.16.0
wget==3.2
whitenoise==4.1.4
youtube-dl==2019.9.28
youtube-mp3-downloader==1.4
