{% extends 'base.html' %}

{% block title %}
    Про нас сторінка
{% endblock %}

{% block body %}
<div class="container nt-5">
    <h1>
        Articles
    </h1>
    {% if articles|length>0%}
        {% for el in articles %}
            <div class="alert alert-info">
                <h2>{{ el.title }}</h2>
                <p>{{ el.intro }}</p>
                <p><b>Date: {{el.date.date()}}</b></p>
                <a href="/posts/{{ el.id }}" class="btn btn-warning" >Details</a>
                <a href="{{ url_for('.like', postId=el.id) }}" class="btn btn-success" >Like</a>
                <a href="{{ url_for('.dislike', postId=el.id) }}" class="btn btn-danger" >Dislike</a>
            </div>
        {% endfor %}
    {% else%}
    <p>There is no articles yet</p>
    {% endif%}
</div>
{% endblock %}